.followers followings
- unless @users.nil?
  - @users.each do |user|
    .followers-content
      - if user.avatar.attached?
        = image_tag user.avatar, class: 'comment-avatar'
      = user.account
-# # -# - unless @users.nil?
-# - @users.each do |user|
-#   - if user.avatar.attached?
-#     = image_tag user.avatar, class: 'comment-avatar'
-#   = user.account