-# .comments-page#article-show{data: {article_id: @article.id}}
-#   .back-btn <-
-#   .comments-title comments
-#   - @comments.each do |comment|
-#     .comment
-#       .comment-image
-#       - if @user.avatar.attached?
-#         = imgae_tag @user.avatar
-#       - else
-#         = image_tag 'Ellipse (1).png', class: 'comment-avatar'
-#       .infoandcomment
-#         .user-account
-#           = @user.account 
-#         .comment-content
-#           = comment.content
-# .comment-box
-#   = image_tag 'Vector (4) (1).png', class: 'comment-post-btn'
-#   = text_field_tag :comment_content, '', class: 'text-area'
