// .profile-page {
//   margin: auto;
// }
.profile-top {
  position: relative;
}
.back-btn {
  position: absolute;
  left: 4%;
  top: 10px;
  font-size: 20px;
}
.profile-name {
  position: absolute;
  left: 50%;
  top: 20px;
}
.avatar {
  min-width: 90px;
  max-width: 120px;
  position: absolute;
  left: 46%;
  top: 10%;
}

.follow-info {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 30%;
  left: 45px;
  &-Lt {
    margin-right:  20px;
  }
  &-Ctr {
    margin-right:  20px;
  }
}


.img-item {
  // position: relative;
  // // top: 30%;
  // bottom: 130px;
  // left: 12%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
  left: 45px
  // width: 100%;
}
.img-item-one {
  width: 300px;
}
.img-item-two {
// flex-direction: column;
width: 150px;
}
.img-bg {
  max-width: 100%;
  height: auto;
}

.img-sml {
  max-width: 100%;
  height: auto;
}
