.top-backimg {
background-image: url(Rectangle.png);
background-size: cover;
height: 300px;
}
.top-wrap {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 16px;
}
.field {
  margin: 30px 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  /* identical to box height */
  mix-blend-mode: normal;
  color: #979797;
  opacity: 0.5;
}

.text {
  border: 1px solid;
  border-color:  transparent  transparent #979797 transparent;
  width: 90%;
  font-size: 20px;
}

.actions {
  padding: 50px 0;
}
.btn {
  display: block;
  margin: auto;
  width: 80%;
  height: 60px;
  border: none;
  border-radius: 10px;
  background: #FFE600;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  /* identical to box height */

  text-align: center;
  
  color: #000000;
}