// .profile-page {
//   margin: auto;
// }
.profile-top {
  position: relative;
}
.back-btn {
  position: absolute;
  left: 4%;
  top: 10px;
  font-size: 20px;
}
.follow-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-family: Poppins;
  color: #BDBDBD;
  cursor: pointer;
}
.unfollow {
  position: absolute;
  top: 15px;
  right: 20px;
  font-family: Poppins;
  color: #BDBDBD;
  cursor: pointer;
}
.profile-name {
  position: absolute;
  left: 50%;
  top: 20px;
}
.profile-image {
  position: absolute;
  left: 43%;
  top: 10%;
}
.profile-avatar {
    min-width: 120px;
    max-width: 150px; 
}
.none {
  display: none;
}

.follow-info {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 31%;
    right: 19px;
  &-Lt {
    margin-right:  20px;
  }
  &-Ctr {
    margin-right:  20px;
  }
}
.form-btn {
  position: absolute;
  top: 26%;
  left: 46%;
}


